[submodule "FEI"]
	path = FEI
	url = https://github.com/mfsalinasz/FEI.git
[submodule "Poema"]
	path = Poema
	url = https://github.com/mfsalinasz/Poema.git
[submodule "Ecommerce"]
	path = Ecommerce
	url = https://github.com/mfsalinasz/Ecommerce.git
[submodule "Ploceus26"]
	path = Ploceus26
	url = https://github.com/mfsalinasz/Ploceus26.git
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/mfsalinasz/ordinario-ftw.git
